<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="HTML, CSS, JavaScript, Aayush Narayan, CVRG University, B.Tech, Electronics and Communication Engineering">
    <meta name="refresh" content="30">    
    <meta name="Author" content="Aayush Narayan">
    <meta name="Description" content="This is all about me ^_^.">
    <link rel="icon" href="{{ url_for('static', filename='CartoonPFP.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/main.css') }}">
    <title>About - Aayush Narayan</title>
</head>
<body>
    <hr>
    <header>
        <h1>Hello Viewers!!</h1>
    </header>
    <hr>

    <hr>
    <br><br><h1 style="display: inline;">I'</h1><span class="small-text">m Aayush Narayan, enrolled in the 3rd year (will graduate in August 2026) at C.V. Raman Global University in Bhubaneswar, pursuing my B.Tech in Electronics and Communication Engineering.</span>
    <hr>
    <h2>Note:</h2>
    <ul>
        <li>I'm creating a webpage along with the README file which will be a great resource to learn many topics through all the codes with descriptions as well as their outcomes.</li>
        <li>The notes covering all the basic topics, created through hardships, are available in one place and have a copyright. Sharing these resources without consent is a violation of copyright and is a punishable offense. Respect the hardship and learn as much as you can.</li>
    </ul>
    <hr>
    <ul>
        <li><h3>List of the Resources:</h3></li>
        <li><a href="{{ url_for('index') }}">HTML</a></li>
        <li><a href="{{ url_for('static', filename='CSS/main.css') }}">CSS</a></li>
    </ul>    

</body>
</html>
